/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'METHYLEXTRACT' {
        ext.args = "-c 1 -t 15 -q 5 --ATAC 'Y'"
    }

    withName: 'TRIMGALORE' {
        ext.args = '-q 20 --stringency 2 -e 0.1'
    }

    withName: 'BISMARK_ALIGN' {
        ext.args = '--non_directional -X 500'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BEDTOOLS_GENOMECOV' {
        ext.args = '-bg'
    }

    withName: 'MACS2_CALLPEAK' {
        ext.args   = { [
            '--nomodel',
            '--nolambda',
            '--call-summits',
            '--keep-dup all',
            '--format ' + meta.single_end ? 'BED' : 'BEDPE'
        ].join(' ').trim() }
    }

    withName: 'IGVTOOLS_TOTDF_RATIO' {
        ext.args = '-z 10'
        ext.prefix = { "${meta.id}_ratio" }
    }

    withName: 'IGVTOOLS_TOTDF_DEPTH' {
        ext.args = '-z 10'
        ext.prefix = { "${meta.id}_depth" }
    }

    withName: 'PLOTTSS' {
        ext.args = '-wa -wb'
    }
}
